apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotodo
spec:
  replicas: 1
  template:
    metadata:
    spec:
      containers:
      - name: gotodo
        image: rindrics/gotodo-application:latest
        ports:
        - containerPort: 8080
        env:
          - name: TODO_ENV
            value: "dev"
          - name: PORT
            value: "8080"
          - name: TODO_DB_HOST
            value: "gotodo-mysql"
          - name: TODO_DB_PORT
            value: "33306"
          - name: TODO_DB_USER
            value: "todo"
          - name: TODO_DB_PASSWORD
            value: "todo"
          - name: TODO_DB_DATABASE
            value: "todo"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotodo-mysql
spec:
  replicas: 1
  template:
    metadata:
    spec:
      containers:
      - name: gotodo-mysql
        image: rindrics/gotodo-database:latest
        env:
          - name: MYSQL_ALLOW_EMPTY_PASSWORD
            value: "yes"
          - name: MYSQL_USER
            value: "todo"
          - name: MYSQL_PASSWORD
            value: "todo"
          - name: MYSQL_DATABASE
            value: "todo"
        volumeMounts:
          - name: gotodo-mysql-config
            mountPath: /etc/mysql/conf.d:cached
        ports:
          - containerPort: 3306
      volumes:
        - name: gotodo-mysql-config
          configMap:
            name: gotodo-mysql
