namespace: gotodo-prd
commonLabels:
  app: gotodo
resources:
  - deployment.yaml
  - configmap.yaml
  - ingress.yaml
  - service.yaml
images:
  - name: rindrics/gotodo-application
    newTag: v1.3.0
  - name: rindrics/gotodo-database
    newTag: v1.3.0
